{% extends 'base/base_login.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="messages">
    {{message}}
</div>
{% endfor %}
{% endif %}

<div class="container_login">
    <div class="block_login">
        <div class="block_title">
            Enter your logins
        </div>
        <div class="block_content">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <div class="button_login_container">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}