{% extends 'base/base.html' %}

{% block content %}

<div class=container_button_add_product>
    <form id="add_product_form" onsubmit="submit_add_product(event);">{% csrf_token %}
        <label>Name: <input type="text" id="product_name_field"></label><br>
        <label for="product_description_field">Description: </label>
        <br>
        <textarea id="product_description_field" name="product_description_field" rows="12" cols="50"></textarea>
        <input type="submit" value="Add Products">
    </form>
</div>

<br>

<div class=container_button_update_product>
    <form id="update_product_form" onsubmit="submit_update_product(event);">{% csrf_token %}
        <label for="product_name_selector_update">Product to update :</label>
        <select name="product_name_selector_update" id="product_name_selector_update">
            {% for product in products %}
            <option value="{{product.pk}}">{{product.name}}</option>
            {% endfor %}
        </select>

        <label>New name: <input type="text" id="product_update_name_field"></label><br>
        <label for="product_update_description_field">New description: </label>
        <br>
        <textarea id="product_update_description_field" name="product_update_description_field" rows="12"
            cols="50"></textarea>
        <input type="submit" value="Update Products">
    </form>
</div>

<br>

<div class=container_button_delete_product>
    <form id="delete_product_form" onsubmit="submit_delete_product(event);">{% csrf_token %}
        <label for="product_name_selector_delete">Product to delete :</label>
        <select name="product_name_selector_delete" id="product_name_selector_delete">
            {% for product in products %}
            <option value="{{product.pk}}">{{product.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Delete Product">
    </form>

</div>

<br>

<div class=container_button_list_product>
    <button type="button" id="button_list_product" onClick="window.location.reload();">Update Product List</button>
</div>

<br>

<div class=container_button_product_table>
    <table id="table_product">
    </table>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% load static %}
<script src="{% static '/js/products.js' %}" type="text/javascript"></script>

{% endblock %}